<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChefAI</title>
    <link rel="stylesheet" href="./static/style/login.css">
</head>
<body>
    <div id="container">
        <form id="form">
        <div id="login">
            <div id="login_txt">
                <p id="head-txt">LogIn</p>
            </div>
    
            <div id="mail">
                <input type="email" name="email" class="ep_box" placeholder=" Enter email" id="email-inp">
            </div>
            <div id="pass">
                <input type="password" name="password" class="ep_box" placeholder=" Enter password" id="pass-inp">
            </div>
            <div id="forgot">
                <a href="#">Forgot Password</a>
            </div>
            <div id="login_btn">
                <input type="button" value="Login" id="log_btn">
            </div>
            <div id="signup">
                <p id="change-txt">Don't have an account?</p>
            </div>
        </div>
        </form>
    </div>

    <div id="toast" class="toast">This is a toast message!</div>


    <script src="./static/script/login.js"></script>
</body>
</html>